@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

@media only screen and (min-width: 768px) {
    header {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        padding: 42px 150px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    main {
        padding: 40px 150px !important;
        min-height: 678px;
        min-width: 1140px;
    }

    .trsansHistoryHomeWarp {
        padding: 30px 30px 20px;
    }
    
    .listHomeWarp {
        padding: 20px 30px; 
        min-height: 96px;
    }
    
    footer {
        padding: 20px 150px;
        background-color: #6379F4;
        color: #ffff;
    }
    
    .footerWarp {
        padding: 20px 120px; 
        background-color: #6379F4;
    }

    .historyWrap {
        padding: 30px 30px 75px !important;
    }

    .btnEditProfile {
        max-width: 100px; 
        color: #7A7886; 
        font-size: 16px;
    }
    
    .profileWrapV1 {
        padding: 50px 208px 60px !important;
    }

    .profileWrapV2 {
        padding: 50px 333px 45px !important; 
        min-height: 190px;
    }

    .profileEditBtnV2 {
        min-width: 403px; 
        min-height: 64px; 
        background-color: #E5E8ED; 
        color: #4D4B57;
    }
    
    .inputPasswordWrap {
        padding: 50px 208px 60px !important; 
        color: #A9A9A9CC;
    }

    .addPhoneWarp {
        padding: 50px 208px 60px !important; 
        color: #A9A9A9CC;
    }

    .addPhoneParagWrap {
        padding: 30px;
    }
} 

header {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

main {
    min-height: 846px;
}

footer {
    background-color: #6379F4;
    color: #ffff;
}

.footerWarp {
    background-color: #6379F4;
}

.footerCopyRight {
    font-size: 16px; 
    color: #EFEFEFE5;
}

.footerContact {
    font-size: 16px; 
    color: #EFEFEF;
}

.textLogo {
    font-size: 25px; 
    color: #6379F4;
}

.namePhoneWrap {
    padding: 0 20px;
}

.textProfileName {
    font-size: 18px;
}

.textProfileNumber {
    font-size: 13px;
}

.navWrap {
    padding: 50px 35px;
    color: #3A3D42CC;
}

.balanceHomeWarp {
    padding: 30px; 
    min-height: 190px; 
    background-color: #6379F4;
}

.fontSize-18 {
    font-size: 18px;
}

.fontSize-16 {
    font-size: 16px;
}

.balanceTitle {
    font-size: 18px;
    color: #E0E0E0;
}

.balancePhone {
    font-size: 14px;
    color: #E0E0E0;
}

.historyHomeWrap {
    min-height: 468px;
}

.incomeWarp {
    padding: 30px;
}

.incomeTitle {
    color: #6A6A6A;
}

.incomeVal {
    font-size: 18px;
    color: #3A3D42;
}


.boxshdw {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.fontWhite {
    color: #FFFF;
}

.fontMed {
    font-weight: 600;
}

.buttonBack {
    background-color: #FFFFFF33;
}

.typeTransColor {
    color: #7A7886;
}

.colorIn {
    color: #1EC15F;
}

.colorOut {
    color: #FF5B37;
}

.iconSearch {
    background: unset;
    border: unset;
    border-radius: unset;
}

.inputSearch {
    border: unset;
    border-radius: unset;
    background: unset;
}

.inputSearch:focus {
    border-color: gray;
    box-shadow: unset;
}

.inputAmount {
    border: unset;
    border-radius: unset;
    background: unset;
}

.amoutWarp {
    padding: 15px;
    border: unset;
    background: unset;
}

input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
    font-size: 42px;
}

.iconNote {
    background: unset;
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid gray;
}

.inputNote {
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid gray;
}

.inputNote:focus {
    border-color: gray;
    box-shadow: unset;
}

.iconPassword {
    background: unset;
    border:     unset;
    border-radius: unset;
    border-bottom: 1px solid gray;
}

.inputPassword {
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid gray;
}

.inputPassword:focus {
    border-color: gray;
    box-shadow: unset;
}

.inputPassword::placeholder {
    color: #A9A9A9CC;
}

.inputPhone {
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid gray;
}

.inputPhone:focus {
    border-color: gray;
    box-shadow: unset;
}

.inputPhone::placeholder {
    color: #A9A9A9CC;
    font-size: 16px;
}

.iconPhone {
    background: unset;
    border:     unset;
    border-radius: unset;
    border-bottom: 1px solid gray;
}

.fwModal .modal-header {
    border-bottom: unset;
}

.fwModal .modal-footer {
    border-top: unset;
}

.inputPin {
    border: unset;
    border-radius: unset;
}

.inputPin input:focus {
    outline: none;
}

.addPhoneTitle {
    color: #3A3D42; 
    font-size: 18px;
}

.addPhoneParag {
    color: #7A7886; 
    font-size: 16px;
}

.addPhoneWarp {
    color: #A9A9A9CC;
}

.color9A {
    color: #A9A9A9CC;
}

.firstNumPhone {
    font-size: 16px; 
    color: #3A3D42;
}

.btnAddPhone {
    background-color: #6379F4; 
    color: #FFFF; 
    min-height: 57px;
}



.inputPasswordWrap {
    color: #A9A9A9CC;
}

.btnChngPass {
    background-color: #6379F4; 
    color: #FFFF; 
    min-height: 57px;
}

.inputPinWrap {
    padding: 50px 208px 60px; 
    color: #A9A9A9CC;
}

.inputChngPin {
    border-radius: 10px; 
    border: 1px solid #A9A9A999; 
    padding: 10px 10px;
}

.inputChngPin input {
    font-size: 30px; 
    text-align: center; 
    width: 40px; 
    border: unset; 
    border-bottom: 1px solid #A9A9A999;
}

.inputChngPin input:focus {
    outline: none;
}

.btnChngPin {
    background-color: #6379F4; 
    color: #FFFF; 
    min-height: 57px;
}

.pedding30 {
    padding: 30px;
}

.pedding20 {
    padding: 20px;
}

.conDetail {
    font-size: 18px; 
    color: #514F5B;
}

.btnCon {
    background-color: #6379F4; 
    color: #FFFF;
}



.detailWrap {
    padding: 20px; 
    min-height: 92px;
}

.detailPhone {
    font-size: 22px; 
    color: #514F5B;
}

.colorBBE {
    color: #BBBBBE;
}

.detailPersonalWrap {
    padding: 20px; 
    min-height: 92px;
}

.btnManage {
    color: #6379F4; 
    text-decoration: none; 
    font-size: 16px;
}

.profileName {
    font-size: 24px; 
    color: #4D4B57;
}

.profileNum {
    font-size: 16px; 
    color: #7A7886;
}

.profileEditBtn {
    /* min-width: 433px; 
    min-height: 64px;  */
    background-color: #E5E8ED; 
    color: #4D4B57;
}

.profileEditBtnV2 {
    background-color: #E5E8ED; 
    color: #4D4B57;
}

.profileEditBtnV2Wrap {
    padding: 32px 30px;
}

.color7E {
    color: #7E7D84;
}



.contactWarp {
    padding: 30px 20px;
}

.listWrap {
    padding: 20px 30px; 
    min-height: 96px;
}

.searchRecivWrap {
    padding: 30px 30px 14px;
}

.searchWrap {
    padding: 15px; 
    background-color: #3A3D421A;
}

.searchListWrap {
    padding: 20px; min-height: 110px;
}

.colorPrimary {
    color: #6379F4
}

.btnTry {
    background-color: #6379F4; 
    color: #FFFF; 
    font-size: 18px;
}

.btnShare {
    background-color: #6379F426; 
    color: #3A3D42;
}

.btnDwnldPdf {
    background-color: #6379F426; 
    color: #6379F4; 
    font-size: 18px;
}