@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

header {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 42px 150px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

main {
    padding: 40px 150px;
    min-height: 678px;
    min-width: 1140px;
}

footer {
    padding: 20px 150px;
    background-color: #6379F4;
    color: #ffff;
}

.boxshdw {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.fontWhite {
    color: #FFFF;
}

.fontMed {
    font-weight: 600;
}

.buttonBack {
    background-color: #FFFFFF33;
}

.typeTransColor {
    color: #7A7886;
}

.colorIn {
    color: #1EC15F;
}

.colorOut {
    color: #FF5B37;
}

.iconSearch {
    background: unset;
    border: unset;
    border-radius: unset;
}

.inputSearch {
    border: unset;
    border-radius: unset;
    background: unset;
}

.inputSearch:focus {
    border-color: gray;
    box-shadow: unset;
}

.inputAmount {
    border: unset;
    border-radius: unset;
    background: unset;
}

.amoutWarp {
    padding: 15px;
    border: unset;
    background: unset;
}

input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
    font-size: 42px;
}

.iconNote {
    background: unset;
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid gray;
}

.inputNote {
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid gray;
}

.inputNote:focus {
    border-color: gray;
    box-shadow: unset;
}

.iconPassword {
    background: unset;
    border:     unset;
    border-radius: unset;
    border-bottom: 1px solid gray;
}

.inputPassword {
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid gray;
}

.inputPassword:focus {
    border-color: gray;
    box-shadow: unset;
}

.inputPassword::placeholder {
    color: #A9A9A9CC;
}

.inputPhone {
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid gray;
}

.inputPhone:focus {
    border-color: gray;
    box-shadow: unset;
}

.inputPhone::placeholder {
    color: #A9A9A9CC;
    font-size: 16px;
}

.iconPhone {
    background: unset;
    border:     unset;
    border-radius: unset;
    border-bottom: 1px solid gray;
}
