@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

header {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 42px 150px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

main {
    padding: 40px 150px;
}

footer {
    padding: 20px 150px;
    background-color: #6379F4;
    color: #ffff;
}

.shadowbox {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}